.c-benefits__content {
	margin-top: 220px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap-reverse;
	overflow: hidden;
}

.c-benefits__content__img {
	position: relative;
}

.c-benefits__content__img figure img {
	max-width: 500px;
	width: 100%;
}

.c-benefits__content__list {
	max-width: 482px;
	padding-left: 16px;
}

.c-benefits__content__list h2 {
	margin-bottom: 24px;
}

.c-benefits__content__list p {
	margin-bottom: 24px;
	width: 85%;
	font-size: 16px;
}

.c-benefits__list__item {
	display: flex;
	align-items: flex-start;
}

.c-benefits__list__item img {
	width: 18px;
	margin-right: 19px;
	margin-top: 4px;
}

.c-benefits__shape {
	position: absolute;
	right: 0;
	top: -4px;
	transform: rotate(90deg);
}

.l-wrapper__content .l-benefits__container {
	overflow: hidden;
}

div.c-benefits__bg {
	width: 4000px;
	height: 1900px;
	position: absolute;
	background-color: var(--color-gray-100);
	top: 0;
	left: -150px;
	z-index: -20;
	transform: skewX(45deg);
}

@media screen and (max-width: 1200px) {
	.l-benefits__container {
		position: relative;
	}

	.c-benefits__content {
		margin-top: 40px;
	}

	.c-benefits__list__item {
		padding-right: 24px;
	}

	.c-benefits__content__img figure {
		padding: 16px;
	}

	figcaption {
		display: none;
		color: var(--color-white);
	}

	div.c-benefits__bg {
		width: 4000px;
		height: 2100px;
		position: absolute;

		top: -350px;
		bottom: -500px;

		z-index: -20;
		transform: skewX(45deg);
	}
}
