.l-footer__container {
	min-height: 180px;
	width: 100vw;
	height: 100%;
	background-color: var(--color-primary);
	display: flex;
	align-items: center;
	justify-content: center;
}

.c-footer__content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 1440px;
	padding: 0 108px;
}

.c-footer__content__top {
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding-bottom: 16px;
}

.c-footer__logo {
	width: 174px;
}

.c-footer__social ul {
	flex: 1;
	display: flex;
	gap: 16px;
}

.c-footer__content__bottom {
	padding-top: 16px;
	border-top: 1px solid var(--color-primary-shade-5);
	text-align: right;
	width: 100%;
}

@media screen and (max-width: 900px) {
	.c-footer__content {
		padding: 0 24px;
	}

	.l-footer__container {
		padding: 0 40px;
	}

	.c-footer__content__top {
		flex-direction: column;
		align-items: center;
	}

	.c-footer__content__bottom {
		padding-top: 0;
		border-top: none;
		text-align: center;
	}

	.c-footer__logo {
		margin-bottom: 24px;
		flex: 1;
	}

	.c-footer__social {
		width: 100%;
		border-top: 2px solid var(--color-primary-shade-5);
		padding-top: 24px;
		justify-content: center;
		display: flex;
		justify-content: center;
	}

	.c-footer__social ul {
		flex: 0;
	}
}
