.l-hero__container {
	position: relative;
	width: 100%;
	height: 100%;
}

.l-hero__container__bg {
	position: absolute;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	z-index: -1;
}

.l-hero__container__bg::before {
	content: "";
	position: absolute;
	width: 2000px;
	height: 2000px;
	right: 0;
	left: 2300px;
	transform: skew(58deg);
	background-color: var(--color-white);
}

.c-hero__content {
	position: relative;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 0 108px;
}

.c-hero__content__texts {
	display: flex;
	flex-direction: column;
	margin-top: 120px;
	margin-bottom: 288px;
	padding-right: 16px;
	min-height: 650px;
}

.c-hero__content__texts h1 {
	margin-bottom: 40px;
	max-width: 600px;
	font-size: 56px;
	font-weight: 900;
	line-height: 100%;
}

.c-hero__content__texts span {
	color: var(--color-primary);
}

.c-hero__content__texts p {
	line-height: 150%;
	max-width: 450px;
	font-size: 16px;
}

.c-hero__content__form {
	max-width: 450px;
	width: 100%;
	background-color: var(--color-white);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	margin-top: 40px;
	padding: 32px;
	z-index: 10;
}

div.c-hero__content__form form fieldset {
	width: 100%;
	border: none;
}

.c-form__content__header {
	text-align: center;
	border-bottom: 2px solid var(--color-gray-300);
	padding-bottom: 16px;
	margin-bottom: 24px;
}

.c-form__content__header h3 {
	margin-bottom: 16px;
}

form .c-form__content {
	width: 100%;
}

.c-form__content fieldset {
	display: flex;
	flex-direction: column;
	margin-bottom: 16px;
}

.c-form__content fieldset label {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 8px;
}

.c-form__content fieldset input,
.c-form__content fieldset select {
	height: 40px;
	padding: 12px;
	border: 2px solid var(--color-black);
}

.c-form__content fieldset input::placeholder {
	font-size: 12px;
	color: var(--color-gray-500);
}

.c-form__content fieldset select {
	width: 100%;
	padding-bottom: 12px;
	display: flex;
	height: 100%;
	align-items: center;
	color: var(--color-black);
	font-size: 12px;
}

.c-form__content fieldset select::selection {
	color: var(--color-black);
}

.c-form__content fieldset select:focus {
	color: var(--color-black);
	font-size: 14px;
}

.c-form__content footer ul li {
	font-size: 12px;
	color: var(--color-gray-500);
	margin-bottom: 8px;
	list-style: disc;
	margin-left: 14px;
}

.c-form__content footer ul li a {
	text-decoration: underline;
	color: var(--color-primary);
}

.c-form__content footer ul li a:hover {
	color: var(--color-orange-500);
}

.c-form__content footer ul {
	margin: 24px 0;
}

.c-form__content footer button {
	width: 100%;
}

.c-fieldset__radio-box__row {
	margin: 8px 0;
}

.c-fieldset__radio-box__row > label {
	font-weight: 400 !important;
	font-size: 16px !important;
}

.c-fieldset__radio-box__row input + label::before {
	content: "";
	width: 18px;
	height: 18px;
	border-radius: 50%;
	display: inline-block;
	border: 2px solid var(--color-gray-300);
	margin-right: 8px;
	vertical-align: middle;
}

.c-fieldset__radio-box__row input:checked + label::before {
	background-color: var(--color-primary-shade-1);
	border: 5px solid var(--color-primary);
}

.c-fieldset__radio-box__row > input {
	display: none;
}

.c-fieldset__radio-box__row > label {
	cursor: pointer;
}

.c-form__fieldset__password {
	position: relative;
}

.c-form__reveal {
	position: absolute;
	right: 20px;
	top: 40px;
	background-color: transparent;
}

.c-form__reveal:hover {
	opacity: 0.6;
}

.l-hero__subsession-container {
	background-color: var(--color-primary-shade-1);
	margin-top: -550px;
	position: relative;
	overflow: hidden;
}

.c-hero__subsession {
	min-height: 400px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 108px;
}

.c-hero__subsession__texts {
	max-width: 600px;
	color: var(--color-white);
	padding-right: 16px;
}

.c-hero__subsession__texts h2 {
	margin-bottom: 24px;
	font-size: 24px;
}

.c-hero__subsession__texts p {
	font-weight: 400;
}

.c-hero__subsession__texts p + p {
	margin-top: 24px;
}

.c-hero__subsession__shape {
	position: absolute;
	top: -3px;
}

div.c-hero__subsession__form-space {
	min-width: 516px;
	height: 300px;
	background-color: var(--color-primary-shade-1);
}

.rd-form__container {
	max-height: 500px;
	position: relative;
}

@media screen and (max-width: 1200px) {
	.l-hero__container__bg::before {
		right: -700px;
	}

	.c-hero__content__texts {
		margin-bottom: 0;
		min-height: 50px;
	}
	.c-hero__subsession {
		padding: 0 16px;
	}

	div.c-hero__subsession__form-space {
		display: none;
	}

	.l-hero__subsession-container {
		margin-top: 0;
		padding: 48px 0;
	}
}

@media screen and (max-width: 900px) {
	.c-hero__content {
		flex-direction: column;
		padding: 16px;
	}

	.c-hero__content__texts {
		display: flex;
		flex-direction: column;
		margin-top: 40px;
		margin-bottom: 0;
		padding: 0;
	}
}

@media screen and (max-width: 599px) {
	.l-hero__container__bg::before {
		content: "";
		position: absolute;

		right: -800px;
		z-index: -1;
		transform: skew(42deg);
		background-color: var(--color-gray-100);
	}

	.c-hero__content__form {
		align-self: center;
	}

	.c-hero__content__texts h1 {
		font-size: 40px;
	}
}

@media screen and (min-width: 1920px) {
	.l-hero__container__bg::before {
		left: 3000px;
	}
}
