:root {
	--color-primary-shade-1: #0b485b;
	--color-primary: #19c1ce;
	--color-primary-shade-5: #07e5eb;

	--color-highlight: #f2bf4e;
	--color-highlight-2: #f4ca6d;

	--color-black: #000;

	--color-gray-900: #212429;
	--color-gray-600: #7e8a98;
	--color-gray-500: #97a1ac;
	--color-gray-300: #cfd3d8;
	--color-gray-100: #f1f3f5;

	--color-white: #fff;
}

body,
html {
	font-family: "Nunito Sans", sans-serif;
	overflow-x: hidden;
	position: relative;
}

/*********************************************************** GENERIC STYLES */

h1,
h2,
h3 {
	font-weight: bolder;
}

h1,
h2,
h3,
h4 {
	font-family: "Darker Grotesque", sans-serif;
}

h2,
.h-lg {
	font-size: 40px;
	line-height: 100%;
	font-weight: 900;
}

.h-md {
	font-size: 32px;
	line-height: 100%;
}

.h-sm {
	font-size: 24px;
	line-height: 110%;
}

.h-xs {
	font-size: 20px;
	line-height: 110%;
	font-weight: bolder;
}

.s-sm {
	font-size: 14px;
	line-height: 140%;
}

.s-xs {
	font-size: 14px;
	line-height: 120%;
}

p,
em,
strong,
ul,
li {
	font-family: "Nunito Sans", sans-serif;
	list-style: none;
}

.b-lg {
	font-size: 20px !important;
	line-height: 100%;
}

.b-md {
	font-size: 16px !important;
	line-height: 150%;
}

.b-sm {
	font-size: 14px;
	line-height: 100%;
}

.m-link {
	text-decoration: underline;
	color: var(--color-blue-400);
}

.l-wrapper {
	min-width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.l-wrapper__content {
	margin: 0 auto;
	max-width: 1440px;
	width: 100%;
}

@media screen and (min-width: 1200px) {
	.l-wrapper__content {
		padding: 0 108px;
	}
}
